@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: rgb(58, 127, 157);
    --primary-color-darker: rgb(131, 12, 146);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.0em;
    line-height: 1.5em;
}

.container {
    max-width: 400px;
    margin: auto;
    margin-top: 20vh;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    
}

form input, form label, form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

form input {
    font-size: 24px;
    height: 35px;
    padding: 0 20px;
}

form input:focus {
    outline: 0.001em solid var(--primary-color);
}

form button {
    margin-top: 35px;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

form button:hover {
    background: var(--primary-color-darker);
}

.paragrafo-resultado {
    background: rgb(90, 167, 101);
    color: rgb(255, 255, 255);
    padding: 8px;
    font-weight: 500;
}

.bad {
    background: rgb(233, 126, 126);
}